<div
  class="login h-screen w-screen bg-[url('assets/imagenes/fondo.jpg')] bg-cover bg-center"
>
  <!-- <h1
    class="absolute top-0 w-screen bg-[#8C3535] text-center text-white rounded p-2"
  >
    Bienvenida/o a {{ title }}
  </h1> -->
  <!-- 
  medio- #D96E30
  claro- #FCD26E 
  oscuro- #8C3535-->

  <div class="flex flex-col h-screen justify-center items-center">
    <form
      [formGroup]="frm"
      autocomplete="off"
      (submit)="sendDatos()"
      class="bg-[url('assets/imagenes/papel.png')] bg-cover bg-center bg-no-repeat flex flex-col justify-center shadow-lg p-[60px] h-[415px] w-[365px]  "
    >
      <div class="mb-5 mt-8 d-flex flex-column">
        <label for="email" class="text-[#8C3535]">{{'login.email' | translate}} </label><br />
        <input
          type="email"
          class="p-2 rounded bg-transparent border-b-2 border-[#F2A71B] "
          id="exampleInputEmail1"
          formControlName="email"
          aria-describedby="emailHelp"
          size="30"
        />
        @if(emailNoRequerido){
        <br /><small class="text-red-600 italic">{{'login.dato_requerido' | translate}}</small>
        }@else { @if(emailNoEmail){
        <br /><small class="text-red-600 italic"
          >{{'register.email_formato_incorrecto' | translate}}</small
        >
        } }
      </div>
      <div class="">
        <label for="password" class="text-[#8C3535]">{{'login.password' | translate}}</label><br />
        <input
          type="password"
          class="p-2 rounded bg-transparent border-b-2 border-[#F2A71B] "
          id="password"
          formControlName="password"
          size="30"
        />
        @if(passNoRequerido){
        <br /><small class="text-red-600 italic">{{'login.dato_requerido' | translate}}</small>
        }
      </div>
      <div class="flex justify-end mt-3">
        <button
          type="submit"
          class="bg-[#A6175A] mt-5 p-1 px-3 cursor-pointer text-white border-t-[7px] border-t-[#C7387A] border-l-[7px] border-l-[#A6175A] border border-b-[7px] border-b-[#891248] border-r-[7px] border-r-[#891248] rounded"
        >
          Login
        </button>
      </div>
    </form>
    <div class="text-white px-2 bg-black/20 mt-4">
      {{'login.no_cuenta' | translate}}
      <a routerLink="/register" class="font-bold underline cursor-pointer">{{'login.registrate' | translate}}</a>
    </div>
    <div class="flex justify-center mt-5 shrink-0 items-center bg-[#f5f5dc] rounded-full p-2">
      <img class="h-12 w-auto" src="./assets/imagenes/logoNav.png" alt="Your Company">
    </div>
  </div>  
</div>
