<!-- lista de los libros guardados del usuario, mostrando la información básica de cada libro y permitiendo eliminarlo si es el usuario logueado  -->
<div class="bg-[#FAF0E6] w-full p-6 flex flex-row flex-wrap justify-center align-middle">
@for (libro of libros; track $index) {
<div
  (click)="redirigirLibro(libro.id)"
  class=" flex items-center  justify-between m-5 gap-4 p-4 px-10 bg-white shadow-md rounded-lg hover:bg-gray-50 cursor-pointer transition"
>
  <!-- Información del libro -->
  <div class="flex-1">
    <h3 class="text-lg font-semibold text-gray-800">
      {{ libro.volumeInfo?.title }}
    </h3>
    <p class="text-sm text-gray-600 mt-1">
      {{'libro.autores' | translate}} {{ libro.volumeInfo?.authors?.join(", ") || "Autor desconocido" }}
    </p>
    @let resenia = obtenerReseniaDeCadaLibro(libro.id); 
      @if (resenia) {
        <div class="mt-2 text-sm text-gray-700">
          <span class=" font-semibold" [innerHTML]='resenia.calificacion | estrellas'></span>
          {{ resenia.fecha | formatoFecha }}
        </div>
      }
  </div>

  <!-- Imagen del libro -->
  <img
    [src]="libro.volumeInfo?.imageLinks?.thumbnail"
    alt="{{ libro.volumeInfo?.title }}"
    class="w-20 h-auto rounded border border-gray-300"
  />

   @if (idUsuarioDelPerfil === idUsuarioActual) {
  <!-- Botón eliminar con stopPropagation para que no se realice el evento del padre de redirigir-->
  <button
    (click)="eliminarLibro(libro.id); $event.stopPropagation()"  
    class=" h-auto self-start text-red-500 hover:text-red-700 p-1"
    title="Eliminar libro"
  >
  <i class="fas fa-trash w-5 h-5"></i>
  </button>
}
</div>
}
</div>