@if(libro) {
<div class="max-w-3xl mx-auto p-6 bg-white rounded-lg shadow-md space-y-4">
  <h2 class="text-2xl font-bold text-gray-800">{{ libro.volumeInfo.title }}</h2>
<!-- //comprueba si tiene imagenes de la portada  -->
  @if (libro.volumeInfo.imageLinks) {
  <img
    [src]="libro.volumeInfo.imageLinks.thumbnail"
    alt="{{ libro.volumeInfo.title }}"
    class="w-48 h-auto rounded border"
  />
  }
<!-- autor o autores del libro  -->
  <p class="text-gray-700">
    <strong class="font-semibold">{{ "libro.autores" | translate }}</strong>
    {{ libro.volumeInfo.authors?.join(", ") }}
  </p>
<!-- descripcion del libro si tiene -->
  <p class="text-gray-700">
    <strong class="font-semibold">{{ "libro.descripcion" | translate }}</strong>
    @if(libro.volumeInfo.description) {
      <span [innerHTML]="libro.volumeInfo.description"></span>
    }@else {
      {{ "libro.sin_descripcion" | translate }}
    }
    
  </p>
<!-- fecha de publicacion y editorial del libro  -->
  <p class="text-gray-700">
    <strong class="font-semibold">{{
      "libro.fecha_publicacion" | translate
    }}</strong>
    {{ libro.volumeInfo.publishedDate }}
  </p>

  <p class="text-gray-700">
    <strong class="font-semibold">{{ "libro.editorial" | translate }}</strong>
    {{ libro.volumeInfo.publisher }}
  </p>

  <!-- Selector de estado -->
  <div>
    <select
      id="estado"
      [(ngModel)]="estadoSeleccionado"
      (change)="CambioDeEstado()"
      class="block w-full max-w-xs p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
    >
      <option value="" disabled selected>
        {{ "libro.select_estado" | translate }}
      </option>
      <option value="quiero leer">
        {{ "libro.estado_quiero_leer" | translate }}
      </option>
      <option value="leyendo">{{ "libro.estado_leyendo" | translate }}</option>
      <option value="leido">{{ "libro.estado_leido" | translate }}</option>
    </select>
  </div>

  <!-- Modal de reseña -->
  @if (mostrarModalResenia) {
  <app-resenia-modal
    (cerrarModal)="cerrarModalResenia()"
    (guardarResenia)="recibirResenia($event.resenia, $event.calificacion)"
  ></app-resenia-modal>
  }

  <!-- Botón para guardar -->
  <button
    (click)="guardarLibro()"
    class="bg-[#1B6CF2] mt-5 py-2 px-6 cursor-pointer text-white font-semibold border-t-[7px] border-t-[#66A3FF] border-l-[7px] border-l-[#1B6CF2] border border-b-[7px] border-b-[#1248A6] border-r-[7px] border-r-[#1248A6] rounded transition-all duration-300 hover:bg-[#66A3FF] "
  >
    {{ "libro.guardar_libro" | translate }}
  </button>

<!-- Selector para ordenar reseñas -->
<div class="flex justify-end mb-4">
  <label for="ordenResenias" class="mr-2 text-gray-700 font-medium">
    {{ "libro.ordenar_por_calificacion" | translate }}:
  </label>
  <select
    id="ordenResenias"
    [(ngModel)]="ordenSeleccionado"
    (change)="ordenarPorCalificacion()"
    class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
  >
    <option value="fecha" selected>
      {{ "libro.recientes" | translate }}</option>
    <option value="desc">{{ "libro.de_mayor_a_menor" | translate }}</option>
    <option value="asc">{{ "libro.de_menor_a_mayor" | translate }}</option>
  </select>
</div>

  <!-- Reseñas -->
  <div class="resenias mt-6">
    @if(resenias.length > 0) {
    <h3 class="text-xl font-bold text-gray-800 mb-4">
      {{ "libro.titulo_resenias" | translate }}
    </h3>
    <ul class="space-y-4">
      @for(resenia of reseniasPaginadas; track $index) {
      <li class="bg-white shadow-md rounded-lg p-4 border border-gray-200">
        <div class="flex justify-between items-center mb-2">
          <span
            class="text-sm text-gray-600 font-medium cursor-pointer"
            (click)="redirigirPerfil(resenia.id_usuario)"
          >
            {{ resenia.nombre }}
          </span>
          <span
            class="font-semibold"
            [innerHTML]="resenia.calificacion | estrellas"
          ></span>
        </div>
        <div class="flex justify-between mb-2">
          <p class="text-gray-700 text-sm ">
            {{ resenia.resenia }}
          </p>
          <div class=" flex flex-col">
          <small class="text-gray-700 ml-5 ">{{
            resenia.fecha | formatoFecha
          }}</small>
              <button
                (click)="eliminarResenia(libro.id)"
                class="text-sm text-red-600 hover:underline"
              >
                {{ "club.eliminar" | translate }}
              </button>
            </div>
        </div>
      </li>
      }
    </ul>
    } @else {
    <p class="text-gray-500 italic">{{ "libro.sin_resenias" | translate }}</p>
    }
        <!-- botones de paginacion  -->
    <div class="flex justify-center mt-4 space-x-2">
      @if(totalPaginas > 0) {
      <button
        class="px-3 py-1 bg-gray-300 rounded hover:bg-gray-400"
        [disabled]="paginaActual === 1"
        (click)="cambiarPagina(paginaActual - 1)"
      >
        {{ "club.anterior" | translate }}
      </button>
    }
      @for ( i of [].constructor(totalPaginas); track $index) {
      <button
        class="px-3 py-1 rounded"
        [ngClass]="{
          'bg-[#F2A71B] text-white': paginaActual === $index + 1,
          'bg-[#FCD26E]': paginaActual !== $index + 1
        }"
        (click)="cambiarPagina($index + 1)"
      >
        {{ $index + 1 }}
      </button>
      }
      @if(totalPaginas > 0) {
      <button
        class="px-3 py-1 bg-[#FCD26E] rounded hover:bg-[#F2A71B]"
        [disabled]="paginaActual === totalPaginas"
        (click)="cambiarPagina(paginaActual + 1)"
      >
        {{ "club.siguiente" | translate }}
      </button>
    }
    </div>
  </div>
</div>
}
