<!-- editar-perfil.component.html -->
<div class="max-w-md mx-auto mt-10 p-6 bg-white rounded shadow space-y-4">
  <h2 class="text-2xl font-bold text-center text-gray-800">{{ 'editarPerfil.titulo' | translate }}</h2>
  
  @if(usuario){
  <form 
  [formGroup]="perfilForm"
  autocomplete="off"
  (submit)="guardarCambios()"
  class="bg-[#f5f5dc]/70 rounded py-[40px] px-[70px]"
>
  <!-- Imagen de perfil -->
  <div class="text-center">
    <img
      [src]="usuario.avatar || '../assets/imagenes/usuario.jpg'"
      alt="{{ 'editarPerfil.avatar_alt' | translate }}"
      class="w-24 h-24 mx-auto rounded-full border"
    />
    <input
      type="file"
      (change)="cambiarImagen($event)"
      accept="image/*"
      class="mt-2 block w-full text-sm"
    />
  </div>

  <!-- Nombre -->
  <div>
    <label class="block text-sm font-medium">{{ 'editarPerfil.nombre' | translate }}</label>
    <input
      type="text"
      formControlName="nombre"
      class="w-full px-3 py-2 border rounded"
    />
    @if(perfilForm.get('nombre')?.invalid && perfilForm.get('nombre')?.touched) {
      <small class="text-red-600 italic mt-1 block">{{ 'login.dato_requerido' | translate }}</small>
    }
  </div>

  <!-- Email -->
  <div>
    <label class="block text-sm font-medium">{{ 'editarPerfil.email' | translate }}</label>
    <input
      type="email"
      formControlName="email"
      class="w-full px-3 py-2 border rounded"
    />
    @if(perfilForm.get('email')?.invalid && perfilForm.get('email')?.touched) {
      @if(perfilForm.get('email')?.errors?.['required']) {
        <small class="text-red-600 italic mt-1 block">{{ 'login.dato_requerido' | translate }}</small>
      } @else if (perfilForm.get('email')?.errors?.['email']) {
        <small class="text-red-600 italic mt-1 block">{{ 'register.email_formato_incorrecto' | translate }}</small>
      }
    }
  </div>

  <!-- Bio -->
  <div>
    <label class="block text-sm font-medium">{{ 'editarPerfil.bio' | translate }}</label>
    <textarea
      formControlName="biografia"
      rows="3"
      class="w-full px-3 py-2 border rounded"
    ></textarea>
  </div>

  <!-- Botón -->
  <button
    type="submit"
    class="w-full bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700"
    [disabled]="perfilForm.invalid"
  >
    {{ 'editarPerfil.guardar_cambios' | translate }}
  </button>
</form>
<div>
    <!-- Botón Eliminar cuenta -->
    <button
      type="button"
      (click)="eliminarCuenta()"
      class="w-full bg-red-700 text-white py-2 px-4 rounded mt-4 hover:bg-red-800 transition-all font-semibold border border-red-900 shadow-md"
    >
      {{ 'editarPerfil.eliminar_cuenta' | translate }}
    </button>
</div>

  }
</div>
