<footer class="bg-[#8C3535] text-white text-sm py-6 absolute bottom-0 w-full">
  <div class="max-w-screen-xl mx-auto px-6">

    <div class="flex flex-col md:flex-row md:justify-between gap-6 text-left">
      <!-- Acerca de -->
      <div class="md:w-1/2">
        <h3 class="font-semibold mb-2 uppercase text-xs tracking-wide">{{ 'footer.acerca_de' | translate }}</h3>
<p class="text-xs leading-relaxed">{{ 'footer.descripcion_acerca' | translate }}</p>
      </div>

      <!-- Ayuda -->
      <div class="md:w-1/2">
       <h3 class="font-semibold mb-2 uppercase text-xs tracking-wide">{{ 'footer.ayuda' | translate }}</h3>
<p class="text-xs leading-relaxed">{{ 'footer.descripcion_ayuda' | translate }}</p>
      </div>
    </div>
    <hr class="my-6 border-[#D96E30]">
        <div class="text-center mb-4">
  &copy; {{ 'footer.copyright' | translate }}
</div>
  </div>
</footer>
