<div class="modal-backdrop">
  <div class="modal animate">
    <div class="star-rating">
      <span
        *ngFor="let star of [1, 2, 3, 4, 5]"
        (click)="calificacion = star"
        (mouseover)="hover = star"
        (mouseleave)="hover = 0"
        [ngClass]="{
          filled: star <= (hover || calificacion)
        }"
        class="star"
      >
        ★
      </span>
    </div>

    <textarea
      [(ngModel)]="resenia"
      rows="5"
      cols="40"
      placeholder="{{ 'resenia.placeholder' | translate }}"
    ></textarea>
    <br />
    <div class="flex justify-between">
      <button
        [disabled]="!resenia.trim() && calificacion === 0"
        class="bg-[#F2A71B] mt-5 p-1 px-3 cursor-pointer text-white border-t-[7px] border-t-[#FFD666] border-l-[7px] border-l-[#F2A71B] border border-b-[7px] border-b-[#C98914] border-r-[7px] border-r-[#C98914] rounded"
        (click)="guardar()"
      >
        {{ 'resenia.guardar' | translate }}
      </button>
      <button
        class="bg-[#A6175A] mt-5 p-1 px-3 cursor-pointer text-white border-t-[7px] border-t-[#C7387A] border-l-[7px] border-l-[#A6175A] border border-b-[7px] border-b-[#891248] border-r-[7px] border-r-[#891248] rounded"
        (click)="cerrar()"
      >
        {{ 'resenia.cancelar' | translate }}
      </button>
    </div>
  </div>
</div>
